.marketplace_layout {
    width: 100%; 
    height: max-content; 
    min-height: 50rem;
    display: flex;
}

.marketplace_content {
    padding: 1.5rem;
}
.content {
    flex: 1;
    flex-wrap: wrap;
}